<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="lidar_ray_sensor" params="">
    <sensor name="laser" type="lidar">
      <update_rate>10</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>180</samples>
            <min_angle>-3.14</min_angle>
            <max_angle>3.14</max_angle>            
          </horizontal>
        </scan>
        <range>
          <min>0.3</min>
          <max>12</max>
        </range>
      </ray>        
      <topic>scan</topic>
    </sensor>
  </xacro:macro>

</robot>
