<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="lidar_gpu" params="">

    <gazebo reference="laser_frame">
      <sensor name="lidar" type="gpu_lidar">
        <pose>0 0 0 0 0 0</pose>
        <update_rate>10</update_rate>
        <visualize>true</visualize>
        <topic>scan</topic>
        <gz_frame_id>laser_frame</gz_frame_id>

        <lidar>
          <scan>
            <horizontal>
              <samples>360</samples>
              <min_angle>-3.14</min_angle>
              <max_angle>3.14</max_angle>
            </horizontal>
          </scan>

          <range>
            <min>0.3</min>
            <max>12</max>
            <resolution>0.01</resolution>
          </range>

          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev>
          </noise>

          <frame_id>laser_frame</frame_id>
        </lidar>

        <always_on>1</always_on>
        <visualize>true</visualize>
      </sensor>
    </gazebo>

  </xacro:macro>
</robot>


